<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>My Voice Cloning App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />
  </head>
  <body>
    <div class="header-logo">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo" />
    </div>
    <!-- Main container for the rest of the content -->
    <div class="main-container">
      <header class="header">
        <h1 class="site-title">My Voice Cloning App</h1>
        <p class="tagline">Hear your words exactly as you say them.</p>
      </header>
      <form class="input-form" action="/speak" method="post">
        <textarea name="text" placeholder="Enter text here..." required></textarea>
        <button type="submit">Speak</button>
      </form>
    </div>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
  </body>
</html>